/*Evitamos el Resaltado Azul de los Moviles*/
* {
  -webkit-tap-highlight-color: transparent;
  outline: none;
  user-select: none;         /* Evita seleccionar texto al tocar */
  -webkit-user-select: none; /* Para Safari/iOS */
  -moz-user-select: none;    /* Firefox */
  -ms-user-select: none;     /* IE/Edge */
}

/* Mesa */
.soporte {
  width: 370px;
  left: -6px;
}

.soporte::before {
  width: 100px;
  height: 2500px;
  left: 50%;
  transform: translateX(-50%);
  top: 18px;
}

.soporte::after {
  width: 95px;
  height: 2500px;
  left: 85px;
}

/*Mensaje*/
.happy-birthday {
  top: -100%;
  left: 140px;
}

/*Objetos de la mesa*/
.portaretrato {
  transform: scale(0.75);
  left: 65px;
  bottom: -12px;
}

.torta {
  transform: scale(0.75);
  left: 15px;
  bottom: -20px;
}

.torta-wrapper {
  clip-path: inset(0 0 0 0%);
}

.caja {
  transform: scale(0.75);
  left: -65px;
  bottom: -26px;
}

.vela {
  transform: scale(0.75);
  bottom: 94px;
  left: 145px;
}

/* Celular Vertical */
@media only screen and (orientation: portrait) {
  .vela-overlay {
    transform: scale(0.75);
    bottom: 77px;
    left: 159px;
  }

  .happy-birthday {
    top: -90%;
    left: 140px;
  }
}

/* Celular Horizontal */
@media only screen and (orientation: landscape) {
  .vela-overlay {
    transform: scale(0.75);
    bottom: 99px;
    left: 145px;
  }
}

@media only screen and (min-width: 400px) and (max-width: 768px) and (orientation: portrait) {
  .vela-overlay {
    transform: scale(0.75);
    bottom: 99px;
    left: 145px;
  }

  .marco-grande {
    width: 160px;
    height: 160px;
  }

  .foto-1, .foto-3, .foto-5, .foto-7, .foto-9 {
    left: 20px;
  }

  .foto-2, .foto-4, .foto-6, .foto-8 {
    right: 20px;
  }

  .polaroid {
  padding: 7px 7px 25px 7px;
  }

  .torta-wrapper {
  clip-path: inset(0 0 0 0%);
  }

}

.llama {
  bottom: 160px;
  left: 142px;
}

.carta {
  animation: none;
  transform: scale(0.8);
  transform-origin: center center;
  margin: 0 auto;
}

/* Banderetas mobile */
.bandereta {
  width: 20px;
  height: 28px;
}

/* Marcos grandes mobile */
.marco-grande {
  width: 100px;
  height: 100px;
}

/* Polaroid mobile */
.polaroid {
  padding: 6px 6px 20px 6px;
}

.foto-1 { left: 80px;  top: 150px; }
.foto-2 { right: 80px; top: 300px; }
.foto-3 { left: 80px;  top: 450px; }
.foto-4 { right: 80px; top: 600px; }
.foto-5 { left: 80px;  top: 750px; }
.foto-6 { right: 80px; top: 900px; }
.foto-7 { left: 80px;  top: 1050px; }
.foto-8 { right: 80px; top: 1200px; }
.foto-9 { left: 80px;  top: 1350px; }

/* Pantallas más pequeñas */
@media only screen and (max-width: 400px) {

  .soporte {
    width: 300px;
  }

  .soporte::after {
    left: 45px;
    top: 20px;
  }

  .happy-birthday {
    font-size: 36px;
    top: -100%;
    left: 130px; 
  }

  .portaretrato {
    transform: scale(0.65);
    left: 92px;
    bottom: -16px;
  }

  .torta {
    transform: scale(0.63);
    left: 17px;
    bottom: -27px;
  }

  .torta-wrapper {
  clip-path: inset(0 0 0 0%);
  }

  .caja {
    transform: scale(0.65);
    left: -100px;
    bottom: -35px;
  }

  .vela {
    transform: scale(0.65);
    bottom: 74px;
    left: 160px;
  }

  .llama {
    bottom: 138px;
    left: 157px;
  }

  .carta {
    transform: scale(0.7);
  }

  .happy-birthday {
    top: -80%;
    left: 155px;
  }
}

